.nav{
    background:linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:20px;
    color: white;

}