<div class="nav">
    <h2 style="font-family: 'Times New Roman', Times, serif; font-style: italic;">
        Budget Bee
    </h2>
</div>

<div>
    <div class="toggle-button-row" (click)="toggleSlideOut()">
      <mat-icon>menu</mat-icon>
    </div>
</div>


<div class="slide-out-panel" [class.slide-out]="isSlideOut">
    <div class="slide-out-content">
      <p class="edit-col" (click)="onDash()">Dashboard</p>
      <p class="edit-col" (click)="onProfile()">Profile</p>
      <p class="edit-col" (click)="onNeed()">Need</p>
      <p class="edit-col" (click)="onLogout()">Log Out</p>
    </div>
  </div>
  