<div class="nav">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu" class="toggle-button-row" style="border-radius:0;">
    <mat-icon>menu</mat-icon>
  </button>
  <h2 style="font-family: 'Times New Roman', Times, serif; font-style: italic;">
    Budget Bee
  </h2>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="onDash()" style="font-family: 'Times New Roman', Times, serif; font-style: italic;">Dashboard</button>
  <button mat-menu-item (click)="onProfile()"style="font-family: 'Times New Roman', Times, serif; font-style: italic;">Profile</button>
  <button mat-menu-item (click)="onLogout()"style="font-family: 'Times New Roman', Times, serif; font-style: italic;">Log Out</button>
</mat-menu>
