<!-- <app-side-nav></app-side-nav>
<div class="container">
    <div class="card-container">

        <div class="card">
            <div class="card">
                
                <h2>Income</h2>
            </div>
            <hr>
            <button class="button" (click)="onIncome()">Edit</button> 
        </div>
        <div class="card">
            <div class="card">
              <h2>Expense</h2>
            </div>
            <hr>
            <button class="button" (click)="onExpense()">Edit</button> 
        </div>
        <div class="card">
            <div class="card">
              <h2>Todos</h2>
            </div>
            <hr>
            <button class="button" (click)="onTodo()">Edit</button> 
        </div>

        <div class="card">
          <div class="card">
            <h2>Savings</h2>
          </div>
          <hr>
          <button class="button" (click)="onSavings()">Edit</button> 
      </div>
    </div>
</div> -->


<app-side-nav></app-side-nav>
<div class="container">
  <div class="card-container">

    <div class="card">
      <h2>Income</h2>
      <h3>Total income: {{totalIncome}}</h3>
      <table mat-table [dataSource]="(income$)" class="mat-elevation-z8">
        <ng-container matColumnDef="source">
          <th mat-header-cell *matHeaderCellDef> Source </th>
          <td mat-cell *matCellDef="let element"> {{element.source}} </td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef> Amount </th>
          <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['source', 'amount', 'date']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['source', 'amount', 'date'];"></tr>
      </table>
      <button mat-button (click)="onIncome()">Edit</button>
    </div>

    <div class="card">
      <h2>Expense</h2>
      <h3>Total Expense: {{totalExpenses}}</h3>
      <table mat-table [dataSource]="expenseData" class="mat-elevation-z8">
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef> Category </th>
          <td mat-cell *matCellDef="let element"> {{element.category}} </td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef> Amount </th>
          <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['category', 'amount', 'date']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['category', 'amount', 'date'];"></tr>
      </table>
      <button mat-button (click)="onExpense()">Edit</button>
    </div>

    <div class="card">
      <h2>Savings</h2>
      <div>
        <strong>Total Savings:</strong> {{ totalSavings }}
      </div>
      <button mat-button (click)="onSavings()">Edit</button>
    </div>

  </div>
</div>

